# **Configuración inicial**
---

In [1]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

config = {
    'user': 'root',
    'password': 'root',
    'host': 'localhost', 
    'database': 'GreenScape',
    'port': 3306
}

def conectar_bd():
    try:
        conn = mysql.connector.connect(**config)
        return conn
    except mysql.connector.Error as err:
        print(f"Error de conexión: {err}")
        return None

print("Librerías cargadas.")

Librerías cargadas.

In [2]:

conn = conectar_bd()
if conn:
    cursor = conn.cursor()
    cursor.execute("SHOW TABLES;")
    tablas = cursor.fetchall()
    
    print(f"Se encontraron {len(tablas)} tablas en el sistema:")
    print("-" * 30)
    for tabla in tablas:
        print(f"{tabla[0]}")
    
    cursor.close()
    conn.close()

Se encontraron 17 tablas en el sistema:
------------------------------
Clima
Comentar
Compra
Contribucion
Contribucion_Foto
Contribucion_Video
Cuidados_Especificos
Estacion
Foto
Gustar
Planta
Producto
Publicacion
Reaccionar
Tener_Foto
Usuario
Video

In [3]:
conn = conectar_bd()
engine = create_engine(f"mysql+mysqlconnector://{config['user']}:{config['password']}@{config['host']}:{config['port']}/{config['database']}")

In [4]:
nombre_tabla="Clima"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)
 
print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Clima':

  Field      Type Null  Key Default           Extra
0   IDC       int   NO  PRI    None  auto_increment
1  Tipo  char(70)   NO         None

======================================================================================================================================================
CREATE TABLE `Clima` (
  `IDC` int NOT NULL AUTO_INCREMENT,
  `Tipo` char(70) NOT NULL,
  PRIMARY KEY (`IDC`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [5]:
nombre_tabla="Comentar"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Comentar':

        Field          Type Null  Key Default Extra
0         IDU           int   NO  PRI    None
1       IDPub           int   NO  PRI    None
2  Comentario  varchar(400)   NO         None

======================================================================================================================================================
CREATE TABLE `Comentar` (
  `IDU` int NOT NULL,
  `IDPub` int NOT NULL,
  `Comentario` varchar(400) NOT NULL,
  PRIMARY KEY (`IDU`,`IDPub`),
  KEY `cal_pub` (`IDPub`),
  CONSTRAINT `Comentar_ibfk_1` FOREIGN KEY (`IDU`) REFERENCES `Usuario` (`IDU`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Comentar_ibfk_2` FOREIGN KEY (`IDPub`) REFERENCES `Publicacion` (`IDPub`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [6]:
nombre_tabla="Compra"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Compra':

        Field          Type Null  Key Default Extra
0        IDUC           int   NO  PRI    None
1        IDUV           int   NO  MUL    None
2      IDProd           int   NO  PRI    None
3       Fecha          date   NO  PRI    None
4     Opinion  varchar(400)  YES         None
5      Precio         float   NO         None
6  Puntuacion           int  YES         None
7    Cantidad           int   NO         None

======================================================================================================================================================
CREATE TABLE `Compra` (
  `IDUC` int NOT NULL,
  `IDUV` int NOT NULL,
  `IDProd` int NOT NULL,
  `Fecha` date NOT NULL,
  `Opinion` varchar(400) DEFAULT NULL,
  `Precio` float NOT NULL,
  `Puntuacion` int DEFAULT NULL,
  `Cantidad` int NOT NULL,
  PRIMARY KEY (`IDUC`,`IDProd`,`Fecha`),
  KEY `cal_usuario` (`IDUV`),
  KEY `cal_prod` (`IDProd`),
  CONSTRAINT `Compra_ibfk_1` FOREIGN KEY (`IDUC`) REFERENCES `Usuario` (`IDU`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Compra_ibfk_2` FOREIGN KEY (`IDUV`) REFERENCES `Usuario` (`IDU`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Compra_ibfk_3` FOREIGN KEY (`IDProd`) REFERENCES `Producto` (`IDProd`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [7]:
nombre_tabla="Contribucion"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Contribucion':

    Field          Type Null  Key Default Extra
0  IDProd           int   NO  PRI    None
1     IDU           int   NO  MUL    None
2   Fecha          date   NO  PRI    None
3    Nota  varchar(300)  YES         None

======================================================================================================================================================
CREATE TABLE `Contribucion` (
  `IDProd` int NOT NULL,
  `IDU` int NOT NULL,
  `Fecha` date NOT NULL,
  `Nota` varchar(300) DEFAULT NULL,
  PRIMARY KEY (`IDProd`,`Fecha`),
  KEY `cal_usuario` (`IDU`),
  CONSTRAINT `Contribucion_ibfk_1` FOREIGN KEY (`IDProd`) REFERENCES `Planta` (`IDProd`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Contribucion_ibfk_2` FOREIGN KEY (`IDU`) REFERENCES `Usuario` (`IDU`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [8]:
nombre_tabla="Contribucion_Foto"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Contribucion_Foto':

    Field  Type Null  Key Default Extra
0  IDProd   int   NO  PRI    None
1   Fecha  date   NO  PRI    None
2     IDF   int   NO  PRI    None

======================================================================================================================================================
CREATE TABLE `Contribucion_Foto` (
  `IDProd` int NOT NULL,
  `Fecha` date NOT NULL,
  `IDF` int NOT NULL,
  PRIMARY KEY (`IDProd`,`Fecha`,`IDF`),
  KEY `cal_foto` (`IDF`),
  CONSTRAINT `Contribucion_Foto_ibfk_1` FOREIGN KEY (`IDProd`, `Fecha`) REFERENCES `Contribucion` (`IDProd`, `Fecha`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Contribucion_Foto_ibfk_2` FOREIGN KEY (`IDF`) REFERENCES `Foto` (`IdF`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [9]:
nombre_tabla="Contribucion_Video"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Contribucion_Video':

    Field  Type Null  Key Default Extra
0  IDProd   int   NO  PRI    None
1   Fecha  date   NO  PRI    None
2     IDV   int   NO  PRI    None

======================================================================================================================================================
CREATE TABLE `Contribucion_Video` (
  `IDProd` int NOT NULL,
  `Fecha` date NOT NULL,
  `IDV` int NOT NULL,
  PRIMARY KEY (`IDProd`,`Fecha`,`IDV`),
  KEY `cal_video` (`IDV`),
  CONSTRAINT `Contribucion_Video_ibfk_1` FOREIGN KEY (`IDProd`, `Fecha`) REFERENCES `Contribucion` (`IDProd`, `Fecha`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Contribucion_Video_ibfk_2` FOREIGN KEY (`IDV`) REFERENCES `Video` (`IDV`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [10]:
nombre_tabla="Cuidados_Especificos"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Cuidados_Especificos':

         Field          Type Null  Key Default           Extra
0         IDCE           int   NO  PRI    None  auto_increment
1  Descripcion  varchar(300)   NO         None

======================================================================================================================================================
CREATE TABLE `Cuidados_Especificos` (
  `IDCE` int NOT NULL AUTO_INCREMENT,
  `Descripcion` varchar(300) NOT NULL,
  PRIMARY KEY (`IDCE`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [11]:
nombre_tabla="Estacion"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Estacion':

    Field      Type Null  Key Default           Extra
0     IDE       int   NO  PRI    None  auto_increment
1  Nombre  char(30)   NO         None

======================================================================================================================================================
CREATE TABLE `Estacion` (
  `IDE` int NOT NULL AUTO_INCREMENT,
  `Nombre` char(30) NOT NULL,
  PRIMARY KEY (`IDE`),
  CONSTRAINT `Estacion_chk_1` CHECK ((`Nombre` in (_utf8mb4'Verano',_utf8mb4'Primavera',_utf8mb4'Invierno',_utf8mb4'Otoño')))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [12]:
nombre_tabla="Foto"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Foto':

  Field          Type Null  Key Default           Extra
0   IdF           int   NO  PRI    None  auto_increment
1   URL  varchar(150)   NO         None

======================================================================================================================================================
CREATE TABLE `Foto` (
  `IdF` int NOT NULL AUTO_INCREMENT,
  `URL` varchar(150) NOT NULL,
  PRIMARY KEY (`IdF`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [13]:
nombre_tabla="Gustar"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Gustar':

    Field Type Null  Key Default Extra
0     IDU  int   NO  PRI    None
1  IDProd  int   NO  PRI    None

======================================================================================================================================================
CREATE TABLE `Gustar` (
  `IDU` int NOT NULL,
  `IDProd` int NOT NULL,
  PRIMARY KEY (`IDU`,`IDProd`),
  KEY `cal_planta` (`IDProd`),
  CONSTRAINT `Gustar_ibfk_1` FOREIGN KEY (`IDProd`) REFERENCES `Planta` (`IDProd`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Gustar_ibfk_2` FOREIGN KEY (`IDU`) REFERENCES `Usuario` (`IDU`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [14]:
nombre_tabla="Planta"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Planta':

              Field       Type Null  Key Default Extra
0            IDProd        int   NO  PRI    None
1  NombreCientifico   char(40)   NO         None
2       NombreComun   char(40)   NO         None
3         TipoSuelo  char(100)   NO         None
4         Categoria   char(40)   NO         None
5          HorasLuz        int  YES         None
6    MililitrosAgua        int  YES         None
7               IDC        int   NO  MUL    None
8               IDE        int   NO  MUL    None
9              IDCE        int   NO  MUL    None

======================================================================================================================================================
CREATE TABLE `Planta` (
  `IDProd` int NOT NULL,
  `NombreCientifico` char(40) NOT NULL,
  `NombreComun` char(40) NOT NULL,
  `TipoSuelo` char(100) NOT NULL,
  `Categoria` char(40) NOT NULL,
  `HorasLuz` int DEFAULT NULL,
  `MililitrosAgua` int DEFAULT NULL,
  `IDC` int NOT NULL,
  `IDE` int NOT NULL,
  `IDCE` int NOT NULL,
  PRIMARY KEY (`IDProd`),
  KEY `cal_clima` (`IDC`),
  KEY `cal_est` (`IDE`),
  KEY `cal_cuid` (`IDCE`),
  CONSTRAINT `Planta_ibfk_1` FOREIGN KEY (`IDProd`) REFERENCES `Producto` (`IDProd`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Planta_ibfk_2` FOREIGN KEY (`IDC`) REFERENCES `Clima` (`IDC`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Planta_ibfk_3` FOREIGN KEY (`IDE`) REFERENCES `Estacion` (`IDE`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Planta_ibfk_4` FOREIGN KEY (`IDCE`) REFERENCES `Cuidados_Especificos` (`IDCE`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [15]:
nombre_tabla="Producto"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Producto':

         Field       Type Null  Key Default           Extra
0       IDProd        int   NO  PRI    None  auto_increment
1       Nombre   char(40)   NO         None
2  Descripcion  char(240)   NO         None
3       Precio      float   NO         None

======================================================================================================================================================
CREATE TABLE `Producto` (
  `IDProd` int NOT NULL AUTO_INCREMENT,
  `Nombre` char(40) NOT NULL,
  `Descripcion` char(240) NOT NULL,
  `Precio` float NOT NULL,
  PRIMARY KEY (`IDProd`)
) ENGINE=InnoDB AUTO_INCREMENT=100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [16]:
nombre_tabla="Publicacion"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Publicacion':

   Field          Type Null  Key Default           Extra
0  IDPub           int   NO  PRI    None  auto_increment
1  Texto  varchar(700)  YES         None
2    IDU           int   NO  MUL    None
3    IDV           int  YES  MUL    None

======================================================================================================================================================
CREATE TABLE `Publicacion` (
  `IDPub` int NOT NULL AUTO_INCREMENT,
  `Texto` varchar(700) DEFAULT NULL,
  `IDU` int NOT NULL,
  `IDV` int DEFAULT NULL,
  PRIMARY KEY (`IDPub`),
  KEY `cal_usuario` (`IDU`),
  KEY `cal_video` (`IDV`),
  CONSTRAINT `Publicacion_ibfk_1` FOREIGN KEY (`IDU`) REFERENCES `Usuario` (`IDU`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Publicacion_ibfk_2` FOREIGN KEY (`IDV`) REFERENCES `Video` (`IDV`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [17]:
nombre_tabla="Reaccionar"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Reaccionar':

   Field      Type Null  Key Default Extra
0    IDU       int   NO  PRI    None
1  IDPub       int   NO  PRI    None
2   Tipo  char(21)   NO         None
3  Fecha      date   NO         None

======================================================================================================================================================
CREATE TABLE `Reaccionar` (
  `IDU` int NOT NULL,
  `IDPub` int NOT NULL,
  `Tipo` char(21) NOT NULL,
  `Fecha` date NOT NULL,
  PRIMARY KEY (`IDU`,`IDPub`),
  KEY `cal_pub` (`IDPub`),
  CONSTRAINT `Reaccionar_ibfk_1` FOREIGN KEY (`IDU`) REFERENCES `Usuario` (`IDU`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Reaccionar_ibfk_2` FOREIGN KEY (`IDPub`) REFERENCES `Publicacion` (`IDPub`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [18]:
nombre_tabla="Tener_Foto"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Tener_Foto':

   Field Type Null  Key Default Extra
0  IDPub  int   NO  PRI    None
1    IDF  int   NO  PRI    None

======================================================================================================================================================
CREATE TABLE `Tener_Foto` (
  `IDPub` int NOT NULL,
  `IDF` int NOT NULL,
  PRIMARY KEY (`IDPub`,`IDF`),
  KEY `cal_foto` (`IDF`),
  CONSTRAINT `Tener_Foto_ibfk_1` FOREIGN KEY (`IDPub`) REFERENCES `Publicacion` (`IDPub`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Tener_Foto_ibfk_2` FOREIGN KEY (`IDF`) REFERENCES `Foto` (`IdF`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [19]:
nombre_tabla="Usuario"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Usuario':

                       Field         Type Null  Key Default           Extra
0                        IDU          int   NO  PRI    None  auto_increment
1                     Nombre  varchar(50)   NO         None
2        DireccionParticular  varchar(50)   NO         None
3                      Email  varchar(50)   NO  UNI    None
4          FechaDeNacimiento         date   NO         None
5             Notificaciones     char(17)   NO         None
6  ConfiguracionDePrivacidad     char(30)   NO         None

======================================================================================================================================================
CREATE TABLE `Usuario` (
  `IDU` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(50) NOT NULL,
  `DireccionParticular` varchar(50) NOT NULL,
  `Email` varchar(50) NOT NULL,
  `FechaDeNacimiento` date NOT NULL,
  `Notificaciones` char(17) NOT NULL,
  `ConfiguracionDePrivacidad` char(30) NOT NULL,
  PRIMARY KEY (`IDU`),
  UNIQUE KEY `Email` (`Email`),
  CONSTRAINT `Usuario_chk_1` CHECK ((`Notificaciones` in (_utf8mb4'activada',_utf8mb4'desactivada'))),
  CONSTRAINT `Usuario_chk_2` CHECK ((`ConfiguracionDePrivacidad` in (_utf8mb4'No compartir',_utf8mb4'Compartir parcial',_utf8mb4'Compartir totalmente')))
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [20]:
nombre_tabla="Video"
query = f"DESCRIBE {nombre_tabla};"
df_usuario = pd.read_sql(query, con=engine)
print(f"Estructura de la tabla '{nombre_tabla}':")
display(df_usuario)

print("==="*50)
cursor = conn.cursor()
cursor.execute(f"SHOW CREATE TABLE {nombre_tabla};")
resultado = cursor.fetchone()
print(resultado[1])

Estructura de la tabla 'Video':

  Field          Type Null  Key Default           Extra
0   IDV           int   NO  PRI    None  auto_increment
1   URL  varchar(150)   NO         None

======================================================================================================================================================
CREATE TABLE `Video` (
  `IDV` int NOT NULL AUTO_INCREMENT,
  `URL` varchar(150) NOT NULL,
  PRIMARY KEY (`IDV`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [21]:
# cursor.close()
# conn.close()
# engine.dispose()